{% extends 'main.html' %}

{% block content %}
<div class="container">
    <div class="back">
        <a href="{% url 'index' %}">go to products</a>
    </div>
    <div class="row">
        {% for i in bicycle %}
        <div class="col-sm-4">
            <img src="https://cdn.shopify.com/s/files/1/0232/3305/products/state_bicycle_4130_fixed_gear_matte_black_2.jpg?v=1591582863" alt="" width="400">
            <div align="center">
                <p>{{ i.b_mark }}</p>
                <p>{{ i.b_model }}</p>
                <p>{{ i.price }}</p>
                <p>{{ i.b_color }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}