doctype
html(lang="ru")
	head
		include assets/_metas.pug
		include assets/_links.pug
		include mixin/mixins.pug
	body
		include assets/_header.pug
		section.home
			.uk-container
				.first-wrapper
					h2.heading ПРИНЦИПЫ ОРГАНИЧЕСКОГО СЕЛЬСКОГО ХОЗЯЙСТВА
					p ПРОДВИЖЕНИЕ ОРГАНИЧЕСКОГО СЕЛЬСКОГО ХОЗЯЙСТВА, КАК СТРАТЕГИЧЕСКОГО ВЕКТОРА РАЗВИТИЯ ЭКОНОМИКИ КЫРГЫЗСКОЙ РЕСПУБЛИК СОГЛАСНО ПРИНЦИПАМ ЗДОРОВЬЯ, ЭКОЛОГИИ, ЧЕСТНОСТИ, ЗАБОТЫ.
					.uk-grid.uk-child-width-1-1.uk-grid-small.home-grid(class='uk-child-width-1-2@m')
						div
							.item
								img(src="img/png/health-icon.png", alt="").icon
								div
									h4 Принцип здоровья
									p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit veniam minima sint laboriosam vitae laudantium quos quam ducimus ea id, eaque quisquam voluptates, rerum quia vero quae magni. Quasi iste obcaecati vel nobis dolores ea, quae voluptates qui? Veritatis, optio non recusandae temporibus aut explicabo animi facilis vitae assumenda maxime.
						div
							.item
								img(src="img/png/health-icon.png", alt="").icon
								div
									h4 Принцип здоровья
									p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit veniam minima sint laboriosam vitae laudantium quos quam ducimus ea id, eaque quisquam voluptates, rerum quia vero quae magni. Quasi iste obcaecati vel nobis dolores ea, quae voluptates qui? Veritatis, optio non recusandae temporibus aut explicabo animi facilis vitae assumenda maxime.
						div
							.item
								img(src="img/png/health-icon.png", alt="").icon
								div
									h4 Принцип здоровья
									p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit veniam minima sint laboriosam vitae laudantium quos quam ducimus ea id, eaque quisquam voluptates, rerum quia vero quae magni. Quasi iste obcaecati vel nobis dolores ea, quae voluptates qui? Veritatis, optio non recusandae temporibus aut explicabo animi facilis vitae assumenda maxime.
						div
							.item
								img(src="img/png/health-icon.png", alt="").icon
								div
									h4 Принцип здоровья
									p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit veniam minima sint laboriosam vitae laudantium quos quam ducimus ea id, eaque quisquam voluptates, rerum quia vero quae magni. Quasi iste obcaecati vel nobis dolores ea, quae voluptates qui? Veritatis, optio non recusandae temporibus aut explicabo animi facilis vitae assumenda maxime.
				.numbers-wrapper
					.uk-grid.uk-child-width-1-1.uk-grid-small(class='uk-child-width-1-4@l uk-child-width-1-2@s')
						div
							.number-item
								h4 22 села
								h5 в "Органических аймаках"
								p в настоящий момент "лечат" свои земли от многолетнего воздействия химикатами и пестицидами
						div
							.number-item
								h4 22 села
								h5 в "Органических аймаках"
								p в настоящий момент "лечат" свои земли от многолетнего воздействия химикатами и пестицидами
						div
							.number-item
								h4 22 села
								h5 в "Органических аймаках"
								p в настоящий момент "лечат" свои земли от многолетнего воздействия химикатами и пестицидами
						div
							.number-item
								h4 22 села
								h5 в "Органических аймаках"
								p в настоящий момент "лечат" свои земли от многолетнего воздействия химикатами и пестицидами
				.project-wrapper
					h2.heading ПРОЕКТЫ BIO-KG
					p С 2012 года ФОД "BIO-KG" реализует уже несколько проектов по продвижению органического сельского хозяйства в Кыргызской Республик
					.uk-grid.uk-child-width-1-1.uk-grid-small(class="uk-child-width-1-3@m")
						div
							.project-item
								.uk-cover-container
									img(src="img/jpg/veg.jpg", alt="" uk-cover)
									.text
										h3 Международный Органический Форум, Бишкек-2014
										p Международный Органический Форум, Бишкек-2014 Проект: Международный органический Фору...
										a(href="").more Подробнее
						div
							.project-item
								.uk-cover-container
									img(src="img/jpg/veg.jpg", alt="" uk-cover)
									.text
										h3 Международный Органический Форум, Бишкек-2014
										p Международный Органический Форум, Бишкек-2014 Проект: Международный органический Фору...
										a(href="").more Подробнее
						div
							.project-item
								.uk-cover-container
									img(src="img/jpg/veg.jpg", alt="" uk-cover)
									.text
										h3 Международный Органический Форум, Бишкек-2014
										p Международный Органический Форум, Бишкек-2014 Проект: Международный органический Фору...
										a(href="").more Подробнее
				.slider-wrapper
					.uk-position-relative.uk-visible-toggle.uk-light(uk-slider='')
						ul.uk-slider-items.uk-child-width-1-1
							li
								.item
									.uk-cover-container
										img(src="img/jpg/person.jpg", alt="" uk-cover)
									h4 Ширдаков Тынчтык, фермер Органического Аймака Арал, Тюпский район, Иссык-Куль
									p «Сельское хозяйство является самым сильным инструментом создания сообщества, которого я знаю. Я люблю то, что я вижу от нашего сообщества фермеров здесь, в Органическом Аймаке Арал, и прочные связи, которые сложились между фермерами. Сельское хозяйство всегда было тем, что объединяет людей, и я рад что нас объединяет органическое, полезное и здоровое сельское хозяйство»
							li
								.item
									.uk-cover-container
										img(src="img/jpg/person.jpg", alt="" uk-cover)
									h4 Ширдаков Тынчтык, фермер Органического Аймака Арал, Тюпский район, Иссык-Куль
									p «Сельское хозяйство является самым сильным инструментом создания сообщества, которого я знаю. Я люблю то, что я вижу от нашего сообщества фермеров здесь, в Органическом Аймаке Арал, и прочные связи, которые сложились между фермерами. Сельское хозяйство всегда было тем, что объединяет людей, и я рад что нас объединяет органическое, полезное и здоровое сельское хозяйство»						
						a.uk-position-center-left.uk-position-small.uk-hidden-hover(href='#', uk-slidenav-previous='', uk-slider-item='previous')
						a.uk-position-center-right.uk-position-small.uk-hidden-hover(href='#', uk-slidenav-next='', uk-slider-item='next')
						ul.uk-slider-nav.uk-dotnav.uk-flex-center.uk-margin
				.gallery-wrapper
					h2.heading ГАЛЕРЕЯ BIO-KG
					p В этом разделе отражены фотоотчеты с основных мероприятий, проводимых в процессе работы по развитию ОСХ в Кыргызстане и повышению осведомленности об ОСХ среди граждан
					div(class='uk-child-width-1-3@m', uk-grid='', uk-lightbox='animation: slide').uk-grid-small.lightbox
						div
							a.uk-inline(href='img/jpg/1.jpg', data-caption='Caption 1')
								img(src='img/jpg/1.jpg', alt='')
						div
							a.uk-inline(href='img/jpg/1.jpg', data-caption='Caption 2')
								img(src='img/jpg/1.jpg', alt='')
						div
							a.uk-inline(href='img/jpg/1.jpg', data-caption='Caption 3')
								img(src='img/jpg/1.jpg', alt='')
				.partners-wrapper
					h2.heading ПАРТНЕРЫ
					.uk-position-relative.uk-visible-toggle.uk-light(uk-slider='')
						ul.uk-slider-items.uk-child-width-1-1(class="uk-child-width-1-4@l uk-child-width-1-2@s")
							li
								a(href="").item
									img(src="img/jpg/par1.jpg", alt="")
							li
								a(href="").item
									img(src="img/jpg/par1.jpg", alt="")
							li
								a(href="").item
									img(src="img/jpg/par1.jpg", alt="")
							li
								a(href="").item
									img(src="img/jpg/par1.jpg", alt="")
							li
								a(href="").item
									img(src="img/jpg/par1.jpg", alt="")
						a.uk-position-center-left.uk-position-small(href='#', uk-slidenav-previous='', uk-slider-item='previous')
						a.uk-position-center-right.uk-position-small(href='#', uk-slidenav-next='', uk-slider-item='next')
						ul.uk-slider-nav.uk-dotnav.uk-flex-center.uk-margin

										

		include assets/_footer.pug
		include assets/_scripts.pug
		
			