doctype
html(lang="ru")
	head
		include assets/_metas.pug
		include assets/_links.pug
		include mixin/mixins.pug
	body
		include assets/_header.pug
		.uk-container
			section.video-inner
				h2.heading В Бишкеке проходит выставка-ярмарка органической продукции
				.video-wrapper
					iframe(width='100%', height='100%', src='https://www.youtube.com/embed/tgbNymZ7vqY')
				.article-wrapper
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita maiores id dolor aliquid similique rem qui cumque! Nobis repellat, minus qui molestiae molestias officia assumenda id inventore adipisci architecto at iure totam in nesciunt! Harum, delectus perspiciatis quasi laborum sed amet commodi ea, aliquid exercitationem ullam, architecto earum et! Atque provident sint possimus aliquid! Dolore ut sequi accusamus. Nihil natus tenetur molestiae architecto recusandae odit fuga ut saepe aut commodi minima quos accusantium cum, dolores itaque debitis optio nulla magni est id vel quis ea. Assumenda consequuntur ab ad vitae eos illo vel? Itaque quam rem inventore iure, ad possimus?


		include assets/_footer.pug
		include assets/_scripts.pug