doctype
html(lang="ru")
	head
		include assets/_metas.pug
		include assets/_links.pug
		include mixin/mixins.pug
	body
		include assets/_header.pug
		.uk-container
			section.about
				h2.heading.uk-text-center О ФОНДЕ "BIO-KG"
				p В 2012 году в Республике была основана Национальная «зонтичная» организация - Федерация органического движения «BIO-KG»
				.uk-grid.uk-child-width-1-1.uk-grid-small(class="uk-child-width-1-2@m")
					div.uk-text-center
						img(src="img/png/big-logo.png", alt="")
					div
						h3 О ФОНДЕ BIO-KG
						p Миссия: Руководство совместными усилиями в целях восстановления активности и поддержки развитию Органического движения в Кыргызской Республике и продвижения принципов ОСХ (здоровье, экология, честность, забота), как основы формирования устойчивой аграрной политики страны. Видение: Создана и действует система производства органической сельскохозяйственной продукции в Кыргызской Республике, как основы для продовольственной и пищевой безопасности страны, сохранения культурного наследия и развития экосистем. С 2012 года возглавляет экс-министр сельского хозяйства Кыргызской Республики Искендер Рысбекович Айдаралиев.
						h4 Разработка Закона "Об органическом сельском хозяйстве КР"
						h4 Национальный План Действий Органического сельского хозяйства и производства
						h4 Работа с "органическими аймаками"

		include assets/_footer.pug
		include assets/_scripts.pug