doctype
html(lang="ru")
	head
		include assets/_metas.pug
		include assets/_links.pug
		include mixin/mixins.pug
	body
		include assets/_header.pug
		.uk-container
			section.news
				.uk-grid.uk-child-width-1-1(class='uk-child-width-1-3@m')
					div
						.news-item
							.uk-cover-container
								img(src="img/jpg/veg.jpg", alt="" uk-cover)
							h3 Молодым ветеринарам сел Тосор и Боконбаево выданы комплекты по искусственному осеменению
							p В рамках проекта "Развитие сообществ" и его компонента "Создание и развитие органических аймаков" Федерации Органического Движения BIO-KG, финансируемый Фондом ICCO Cooperation, 27 апреля 2015 года, местным молодым инициативным ветеринарам сел Тосор, а также Боконбаево выданы комплекты по искусственному осеменению. В каждый из комплекта входят: сосуды Дюара 2 штуки, инструменты для осеменения, 25 доз породы Швиц, 100 доз породы Симменталь и 100 доз породы Абердин ангусс.
							a(href="").link-to Подробнее
					div
						.news-item
							.uk-cover-container
								img(src="img/jpg/veg.jpg", alt="" uk-cover)
							h3 Молодым ветеринарам сел Тосор и Боконбаево выданы комплекты по искусственному осеменению
							p В рамках проекта "Развитие сообществ" и его компонента "Создание и развитие органических аймаков" Федерации Органического Движения BIO-KG, финансируемый Фондом ICCO Cooperation, 27 апреля 2015 года, местным молодым инициативным ветеринарам сел Тосор, а также Боконбаево выданы комплекты по искусственному осеменению. В каждый из комплекта входят: сосуды Дюара 2 штуки, инструменты для осеменения, 25 доз породы Швиц, 100 доз породы Симменталь и 100 доз породы Абердин ангусс.
							a(href="").link-to Подробнее
					div
						.news-item
							.uk-cover-container
								img(src="img/jpg/veg.jpg", alt="" uk-cover)
							h3 Молодым ветеринарам сел Тосор и Боконбаево выданы комплекты по искусственному осеменению
							p В рамках проекта "Развитие сообществ" и его компонента "Создание и развитие органических аймаков" Федерации Органического Движения BIO-KG, финансируемый Фондом ICCO Cooperation, 27 апреля 2015 года, местным молодым инициативным ветеринарам сел Тосор, а также Боконбаево выданы комплекты по искусственному осеменению. В каждый из комплекта входят: сосуды Дюара 2 штуки, инструменты для осеменения, 25 доз породы Швиц, 100 доз породы Симменталь и 100 доз породы Абердин ангусс.
							a(href="").link-to Подробнее
		include assets/_footer.pug
		include assets/_scripts.pug