doctype
html(lang="ru")
	head
		include assets/_metas.pug
		include assets/_links.pug
		include mixin/mixins.pug
	body
		include assets/_header.pug
		.uk-container
			section.news-inner
				img(src="img/jpg/veg.jpg", alt="")
				p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam dignissimos, mollitia obcaecati facere cum quis expedita quae reiciendis ad, id veritatis at non impedit tenetur earum, voluptatem ratione voluptate quam recusandae. Quaerat obcaecati optio voluptate nemo consectetur, asperiores officiis accusamus suscipit itaque, nobis sunt labore aut dolore et cupiditate quam consequatur fugiat. Reprehenderit eos sapiente rem nihil vero, iusto officiis! Asperiores reprehenderit aut iure eum eligendi tempora sit, doloribus iste? Facilis est odit libero cum mollitia? Eligendi consequatur dicta suscipit excepturi sunt! Debitis odio ex culpa iste expedita recusandae laudantium nesciunt quibusdam laboriosam. Officia eius voluptas architecto velit et dolorum.
			
		include assets/_footer.pug
		include assets/_scripts.pug